includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - src/Util/Tty/Kernel32.php
        - src/Util/Tty/Kernel32Interface.php
        - src/Util/Tty/WindowsBackend.php
