parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Cli/RecordCommand.php

		-
			message: '#^PHPDoc tag @param for parameter \$context with type string is incompatible with native type int\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Diff/DiffWriter.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\MetadataHook\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Hook/MetadataHook.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\SanitizingHook\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Hook/SanitizingHook.php

		-
			message: '#^Method SugarCraft\\Vcr\\Migration\\V1ToV2Migrator\:\:buildMigrationMeta\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Migration/V1ToV2Migrator.php

		-
			message: '#^Anonymous function has an unused use \$inputWrite\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/Player.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Assert\\\\Assertion'' and SugarCraft\\Vcr\\Assert\\ScreenAssertion will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Assert/ScreenAssertionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with 1 and 1 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/CassetteTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''rescueRestore must…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Cli/RecordCommandSafetyNetTest.php

		-
			message: '#^Call to method run\(\) on an unknown class SugarCraft\\Vcr\\Tests\\Cli\\Command\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Cli/StatsCommandTest.php

		-
			message: '#^Parameter \#1 \$command of method SugarCraft\\Vcr\\Tests\\Cli\\StatsCommandTest\:\:exec\(\) expects SugarCraft\\Vcr\\Tests\\Cli\\Command, SugarCraft\\Vcr\\Cli\\StatsCommand given\.$#'
			identifier: argument.type
			count: 9
			path: tests/Cli/StatsCommandTest.php

		-
			message: '#^Parameter \$command of method SugarCraft\\Vcr\\Tests\\Cli\\StatsCommandTest\:\:exec\(\) has invalid type SugarCraft\\Vcr\\Tests\\Cli\\Command\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Cli/StatsCommandTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Diff/DiffWriterTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Format\\\\Format'' and SugarCraft\\Vcr\\Format\\CompressedJsonlFormat will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Format/CompressedJsonlFormatTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotFalse\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Format/CompressedJsonlFormatTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Format\\\\Format'' and SugarCraft\\Vcr\\Format\\RelativeFormat will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Format/RelativeFormatTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Format\\\\Format'' and SugarCraft\\Vcr\\Format\\YamlFormat will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Format/YamlFormatTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:112\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:138\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:161\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:190\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:38\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:51\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Method SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:99\:\:beforeSave\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Property SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:112\:\:\$calls is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Property SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:38\:\:\$calls is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Property SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:51\:\:\$calls is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Property SugarCraft\\Vcr\\Hook\\Hook@anonymous/tests/Hook/HookRegistryTest\.php\:99\:\:\$calls is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Hook/HookRegistryTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Hook/MetadataHookTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Hook/SanitizingHookTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Format\\\\Format'' and SugarCraft\\Vcr\\Format\\JsonlFormat will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/JsonlFormatTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Matcher\\\\EventMatcher'' and SugarCraft\\Vcr\\Matcher\\PassthroughMatcher will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Matcher/EventMatcherTest.php

		-
			message: '#^PHPDoc tag @implements has invalid value \(EventMatcher\)\: Unexpected token "\\n ", expected ''\<'' at offset 31 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: tests/Matcher/EventMatcherTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Vcr\\\\Matcher\\\\TimingTolerantMatcher'' and SugarCraft\\Vcr\\Matcher\\TimingTolerantMatcher will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Matcher/TimingTolerantMatcherTest.php

		-
			message: '#^Access to an undefined property SugarCraft\\Core\\Msg\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Msg/BuiltinSerializerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with SugarCraft\\Vcr\\ReplayResult will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/PlayerIdleTrimTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with SugarCraft\\Vcr\\ReplayResult will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/PlayerIdleTrimmingTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with 0 and 0 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/PlayerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with 1 and 1 will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/PlayerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SugarCraft\\\\Core\\\\Recorder'' and SugarCraft\\Vcr\\Recorder will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/RecorderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/RecorderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''absolute'' and ''absolute'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/RelativeTimestampTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''relative'' and ''relative'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/RelativeTimestampTest.php

		-
			message: '#^Parameter \$timestampMode of class SugarCraft\\Vcr\\CassetteHeader constructor expects ''absolute''\|''relative'', ''invalid'' given\.$#'
			identifier: argument.type
			count: 1
			path: tests/RelativeTimestampTest.php
